version = 0.1

[default]
[default.global.parameters]
stack_name = "centli-hackathon"

[default.build.parameters]
cached = true
parallel = true

[default.validate.parameters]
lint = true

[default.deploy.parameters]
capabilities = "CAPABILITY_NAMED_IAM"
confirm_changeset = false
resolve_s3 = true
region = "us-east-1"
profile = "777937796305_Ps-HackatonAgentic-Mexico"
parameter_overrides = "Environment=hackathon LogLevel=INFO"
tags = "Project=CENTLI Environment=Hackathon"

[default.package.parameters]
resolve_s3 = true

[default.sync.parameters]
watch = true

[default.local_start_api.parameters]
warm_containers = "EAGER"

[default.local_start_lambda.parameters]
warm_containers = "EAGER"
